{% extends 'base.html' %}
{% block content%}
<br>

{% if eror %}
{{eror}}
<br><br>
{% endif %}


<h1>Create</h1>
<form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
  {% csrf_token %}
<!--  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email"  aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>-->
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" name="title" >
  </div>
  <div class="form-group">
    <!-- make it big and large  -->
    <label for="exampleInputPassword1">Body</label>
    <input type="textbox" class="form-control" name="description">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">url</label>
    <input type="text" class="form-control" name="url" >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">icon</label>
    <input type="file" class="form-control" name="icon">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">image</label>
    <input type="file" class="form-control" name="image">
  </div>
  <button type="submit" class="btn btn-primary">add product</button>
</form>
{% endblock %}
